extends layout

block title
    | Compositores

block content
    main
        ul
            each compositor in compositores
                li
                    a(href=`/compositores/${compositor._id}`) #{compositor.nome}
        a(href="/compositores/novo") Novo Compositor
