extends layout

block title
    | Periodos

block content
    main
        ul
            each periodo in periodos
                li
                    a(href=`/periodos/${periodo._id}`) #{periodo.periodo}

        a(href="/periodos/novo") Novo Periodo
