<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Compositor - {{props.compositor.nome}}</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
{% include "templates/header.html" %}

<main>
    <h1>
        <span>{{props.compositor.nome}}</span>
        <span class="data">{{props.compositor.dataNasc}}-{{props.compositor.dataObito}}</span>
    </h1>
    <a href="/periodos/{{props.compositor.periodoId}}">Periodo {{props.compositor.periodo.periodo}}</a>

    <h2>Biografia</h2>
    <p>{{props.compositor.bio}}</p>

    <a href="/compositores/{{props.compositor.id}}/editar">Editar</a>
</main>
</body>
</html>