<!doctype html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Editar Compositor - {{props.compositor.nome}}</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
{% include "templates/header.html" %}

<main>
    <form action="/compositores/{{props.compositor.id}}" method="post">
        <label for="nome">Nome do compositor</label>
        <input type="text" id="nome" name="nome" placeholder="Nome do compositor" value="{{props.compositor.nome}}">
        <br>

        <label for="bio">Biografia do compositor</label>
        <input type="text" id="bio" name="bio" placeholder="Biografia do compositor" value="{{props.compositor.bio}}">
        <br>

        <label for="dataNasc">Data de nascimento do compositor</label>
        <input type="date" id="dataNasc" name="dataNasc" placeholder="Data de nascimento do compositor" value="{{props.compositor.dataNasc}}">
        <br>

        <label for="dataObito">Data de obito do compositor</label>
        <input type="date" id="dataObito" name="dataObito" placeholder="Data de obito do compositor" value="{{props.compositor.dataObito}}">
        <br>

        <fieldset>
            <legend>Períodos</legend>
            {% for periodo in props.periodos %}
            <input type="radio" name="periodoId" id="p{{props.periodo.id}}" value="{{props.periodo.id}}" {% if props.compositor.periodoId === props.periodo.id %} checked {% endif %}>
            <label for="p{{props.periodo.id}}">{{props.periodo.periodo}}</label>
            {% endfor %}
        </fieldset>

        <input type="submit" value="Atualizar">
    </form>

    <a href="/compositores/{{props.compositor.id}}/delete">Apagar</a>
</main>
</body>
</html>