.navbar {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "leftNavbar middleNavbar rightNavbar";
}

.leftNavbar {
    grid-area: leftNavbar;
}

.middleNavbar {
    grid-area: middleNavbar;
}

.rightNavbar {
    grid-area: rightNavbar;
}

.body{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "leftBody rightBody";
}

.leftBody{
    grid-area: leftBody;
}

.rightBody{
    grid-area: rightBody;
}


@media screen and (width < 1100px) {
    .body{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:  
        "leftBody"
        "rightBody";
    }
}

@media screen and (width < 1000px) {
    .navbar {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
            "leftNavbar   rightNavbar"
            "middleNavbar middleNavbar";
    }
}