doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/w3.css')
    link(rel="icon", type="image/jpeg", href="/images/logo.jpg")
    block head
  body
    block content
