extends layout

block content
    .w3-row.flexbox
        .w3-quarter.flexbox.justify-center.align-center.full-height-div

        header.w3-half.flexbox.justify-center.align-center.gold
            h1.white-smoke Recuperar uma conta

        .w3-quarter.flexbox.justify-center.align-center.full-height-div

    if warning != null 
        .w3-container
            .w3-panel.w3-yellow
                h3 Warning!
                p=warning
    
    form.w3-container.w3-margin(method="POST" id="recoverForm")
        fieldset.white-smoke Informação
            .w3-margin.w3-padding
                label.white-smoke Email
                input.w3-input.w3-round(type="text" name="email" placeholder="Email" required)
            .w3-margin.w3-padding
                label.white-smoke Password
                input.w3-input.w3-round(type="password" name="password" placeholder="Password" required)
            .w3-margin.w3-padding
                label.white-smoke Confirmar password
                input.w3-input.w3-round(type="password" name="password2" placeholder="Confirmar password" required)

        .w3-container.w3-margin
            .flexbox.space-between 
                div
                .flexbox
                    button.button.margin-10px.padding-10px.border-1px-black.dark-blue(type="submit") Recuperar
                    a.border-radius-10px.margin-10px.padding-10px.border-1px-black.bg-white-smoke(href=`/`) Voltar