<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Filmes</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
{% include "templates/header.html" %}

<main>
    <h1>Filmes</h1>
    <ul>
        {% for movie in props.movies %}
        <li><a href="/movies/{{props.movie.id}}">{{props.movie.title}} ({{props.movie.year}})</a></li>
        {% endfor %}
    </ul>
</main>
</body>
</html>